/ {

    sensors {
        dht11_0: dht11 {
            compatible = "aosong,dht";

            /* The init state of GPIO must be low, otherwise, fetch data failed with -5, EIO */
            dio-gpios = <&gpiog 12 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;

            label = "DHT_SENSOR";
        };
    };

    aliases {
        dht11 = &dht11_0;
    };
};
