/ {

    sensors {
        dht11_0: dht11 {
            compatible = "aosong,dht";

            dio-gpios = <&gpiog 12 (GPIO_ACTIVE_HIGH | GPIO_PULL_UP)>;
        };
    };

    aliases {
        dht11 = &dht11_0;
    };
};